<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue Example</title>
</head>

<body>
    <!-- ini div yang bakal di rubah-rubah sama vue nya -->
    <div id="app">
        <!-- message ini berdasarkan variable message yang ada di data -->
        <h1>{{message}}</h1>
        <ul>
            <!-- Render <li> pake v-for (untuk looping) -->
            <li v-for="(nama, index) in namaSiswa" :key="index">
                {{nama}}
            </li>
        </ul>
        <!-- input untuk tambah data ke array, dikaitkan dengan variable namaSiswaBaru -->
        <input type="text" v-model="namaSiswaBaru">
        <!-- tombol untuk menambah variable namaSiswaBaru ke array data, tampilan akan otomatis berubah jika array berubah -->
        <button v-on:click="tambahSiswa">TambahSiswa</button>
        <hr>
        <!-- button untuk merubah munculPesan menjadi sebaliknya -->
        <!-- kalau di klik bakal manggil method toggle -->
        <button v-on:click="toggle">Toggle</button>
        <!--  -->
        <!-- pesan ini dapat hilang jika di klik tombol -->
        <!-- cara buat nya pakai v-if (conditional rendering) -->
        <!-- si pesan bakal muncul kalau variable munculPesan yang ada di data = true -->
        <h3 v-if="munculPesan">Pesan ini akan hilang/muncuk jika di klik tombol di Toggle</h3>
    </div>
</body>
<script>
    //buat object vue nya disini.
    var app = new Vue({
        //artinya el : '#app' -> si vue yang dibuat diatas dikaitkan dengan elemen div id="app" yang ada di HTML diatas
        el: '#app',
        //ini object data nya
        data: {
            //rubah aja value message nya, di javascript string bisa pakai ' atau " vin.
            message: 'Daftar Siswa berprestasi banget.',
            //contoh array
            //coba aja rubah atau tambah elemen array nya. trus di save trus di reload.
            namaSiswa: [
                'Andre',
                'Ferdinand',
                'Aldiet',
            ],
            //model untuk tambah data array namaSiswa
            namaSiswaBaru: '',
            //variable yang menentukan si pesan diatas
            munculPesan: true,
        },
        methods: {
            //variable toggle, diisikan dengan function yang berfungsi untuk menampilkan atau menghilangkan pesan
            toggle: function () {
                //balikin nilai kebenaran
                this.munculPesan = !this.munculPesan;
            },
            //method untuk tambah variable namaSiswabaru ke array namaSiswa
            tambahSiswa: function () {
                //push data ke array
                this.namaSiswa.push(this.namaSiswaBaru);
                //kosongin variable, nanti si input text nya akan otomatis kosong, karna sudah di binding
                this.namaSiswaBaru = '';
            }
        }
    })
</script>

</html>